			body{
                --main-font: serif;
                --main-color: blue;
				width: calc(100% - 5em);
				margin: auto;
                background-color: #f2e4d7;
			}

			article img{
				width: 100%;
			}

            .vegetarian{
                font-family: var(--main-font);
                --main-color: green;
            }
            .modal-content img{
                width:inherit;
                float: right;

            }
			h1, h2, h3, h4, p, nav{
				font-family: var(--main-font), sans-serif;
				font-weight: normal;
                text-transform: capitalize;
                color: var(--main-color);
			}
			section{
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				grid-gap: 1em;
			}
			article{
				padding: 1em;
				border: 1px solid;
				position: relative;
			}
			.soldout *:not(.overlay) {
				opacity: 0.5;
			}
			.overlay {
				position: absolute;
				top: 5%;
				right: 5%;
                transform: rotate(45deg);
                background: red;
                padding: .5em;
                font-family: Roboto;
                font-weight: 900;
                color: white;
			}
            nav a{
                font-family: var(--main-font);
                padding: 1em;
                text-decoration: none;
            }
            button{
                cursor: pointer;
            }
            .modal-bg{
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,.8);
            }
            .modal-content{
                background-color: white;
                width: 80%;
                height: 80%;
                margin: auto;
                margin-top: 5%;
            }
            .hide{
                display: none;
            }
